.footer {
    /*height of the footer*/
    height: 150px;
    /*position on screen*/
    left: 0;
    bottom: 0;
    /*total width over the user screen*/
    width: 100%;
    /*(background)color*/
    background-color: #1a535c;
    /*text color*/
    color: #f7fff7;
    /*Place of text*/
    text-align: center;
    /*text showing when amount of text is bigger then the div is*/
    overflow: hidden;
}

body {
    font-family: sans-serif;
}
img{
    padding-top: 10px;
}