.footer {
    /*height of the footer*/
    height: 6em;
    /*position on screen*/
    left: 0;
    bottom: 0;
    /*total width over the user screen*/
    width: 100%;
    /*(background)color*/
    background-color: #1a535c;
    /*text color*/
    color: #f7fff7;
    /*Place of text*/
    text-align: center;
    /*text showing when amount of text is bigger then the div is*/
    overflow: hidden;
}

.footer img{
    display: inline-block;
    padding-top: 10px;
    width: 10em;
}

.footer p {
    display: inline-block;
}