.bg-light {
    /*header achtergrondkleur*/
    background-color: #1a535c!important;
}

/*home button kleur tekst */
.loginbutton .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f7fff7;
}

/*kleur loginbutton*/
.loginbutton{
    background-color: transparent;
    color: #ffe66d;

}

.winkelwagen{
    background-color: transparent;
    color: #ffe66d;
}

/*kleur verlanglijstbutton*/
.verlanglijst {
    background-color: transparent;
    color: #ffe66d;
}

/*categorieën en link kleur tekst*/
.navbar-light .navbar-nav .nav-link {
    color: #f7fff7;
}


.btn-outline-success{
    color: #ffe66d;
    border-color: #ffe66d;
    transition-property: background-color;
}

body {
    font-family: sans-serif;
}

/*https://stackoverflow.com/questions/602168/in-css-what-is-the-difference-between-and-when-declaring-a-set-of-styles     hier was robin mee bezig*/


/* Search area */
.search-area{
    font-family: 'Open Sans', sans-serif;
    width: 20em;
}


.search-area input{
    position: absolute;
    padding-right: 6.2em; 
}

.search-area input:focus{
    outline: none;
    border: none ;
    box-shadow: none;
    padding-right: 6.3em;
}

.search-area button[type='submit']  {
    display: inline;
    background-color: #2c90a0;
    color: #ffffff;
    border:none;
    border-radius: 0 5px 5px 0;
    position:relative;
    z-index: 2;
    left: 13.3em;

}

.search-area button[type='submit']:hover {
    transition: background-color 0.3s;
    background-color: #32b8cc!important;
    box-shadow: none;
}

.content{
    min-height: 75vh;
}