.login-box {
    /*background-color: rgba(51, 80, 77);*/
    border-width: 1px;
    border-style: solid;
    margin: 10%;
    padding: 5%;
}
.center {
    text-align: center;
}
.cbtn-secundary {
    background-color: #ffe66d;
}
.custom-white {
    color: #f7fff7;
    font-weight: bold;
}